
<h1>Profile Search Page</h1>

	<div class = "icon_container">
		<div id="usertweets" class="icon_div">
		<%= image_tag ("User_tweet.png"), class: "icon_img" %>
		User Tweets
		</div>

		<div id="hometweets" class="icon_div">
		<%= image_tag ("Home.png"), class: "icon_img" %>
		User Homepage Tweets
		</div>

		<div id="usermentions" class="icon_div">
		<%= image_tag ("Chat.png"), class: "icon_img" %>
		User Mentions
		</div>
	</div>

	<table id="tweet_table" class="text table table-hover">
		<tr><th>Tweets</th></tr>
		 
	</table>

	<script type="text/javascript">
	$( "#usertweets" ).click(function() {
		$.get('ownsearches/user_tweets.json', function(usertweets){
			$('#tweet_table').empty();
			console.log(usertweets);
			usertweets.forEach(function(tweet){
				// console.log(tweet.text);
				$('#tweet_table').append("<tr><td><a href='http://www.twitter.com/" + tweet.user.screen_name + "'>" + tweet.text + "</a></td></tr>")
			});
		});
	});


	$( "#hometweets" ).click(function() {
		console.log('click');
		$.get('ownsearches/home_tweets.json', function(hometweets){
			$('#tweet_table').empty();
			hometweets.forEach(function(tweet){
				// console.log(tweet.text);
				$('#tweet_table').append("<tr><td><a href='http://www.twitter.com/" + tweet.user.screen_name + "'>" + tweet.text + "</a></td></tr>")
			});
		});
	});


	$( "#usermentions" ).click(function() {

		$.get('ownsearches/user_mentions.json', function(usermentions){
			$('#tweet_table').empty();
			console.log(usermentions);
			usermentions.forEach(function(tweet){
				// console.log(tweet.text);
				$('#tweet_table').append("<tr><td><a href='http://www.twitter.com/" + tweet.user.screen_name + "'>" + tweet.text + "</a></td></tr>")
			});
		});
	});
	</script>

