<h1>Your Tweets</h1>


<%= link_to 'Back', new_search_path %>

 <table class="table table-hover">
  	<tr>
  		<th>Your Tweets</th>
  	</tr>

  	<% if @profilehome %>
	    <% @profilehome.each do |tweet| %>
	    <tr>
	    	<td><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}" %></td>
	    </tr>
	   <% end %>   
	<% end %>
  </table>