<h1>Tweets You Were Mentioned In</h1>


<%= link_to 'Back', new_search_path %>

 <table class="table table-hover">
  	<tr>
  		<th>Tweets You Were Mentioned In</th>
  	</tr>

  	<% if @profilementions %>
	    <% @profilementions.each do |tweet| %>
	    <tr>
	    	<td><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}" %></td>
	    </tr>
	   <% end %>   
	<% end %>
  </table>