<div class="search_container">
      <form class="form-inline" id="t_search">
      
      <div class="form-group">
          <input type="text_field", placeholder="Search Query or #hashtag", class="form-control", id="tweetsearch">
      </div>
          <button type="submit", class="btn btn-default">Search</button>
    </form>
</div>

<hr/>
<div class="container">
<div class="text"><%= link_to 'Back', root_path %></div>

 <table class="text table table-hover tweet_table">
    <tr>
      <th>Tweet Search Results</th>
    </tr>
  </table>
</div>
<style type="text/css">
        .bar rect
        {
/*
            fill: black;
            stroke: black;
*/
        }
        .label
        {
            font-family: Verdana;
            font-size: 15pt;
            color: gray;
            fill-opacity: .6;
        }
        .value
        {
            font-family: Verdana;
            font-size: 11pt;
            color: gray;
            fill-opacity: .6;
        }

        .tick_label
        {
            font-size: 15pt;
            font-family: Verdana;
            color: gray;
            fill-opacity: .6;
        }
    </style>
