<div class="search_container">
      <div class="form-inline">
      
      <div class="form-group">
          <input type="text_field", placeholder="Search Query or #hashtag", class="form-control", id="tweetsearch">
      </div>
          <button class="btn btn-default", id="t_search">Search</button>
    </div>
</div>

<hr/>
<div class="container">
<div class="text"><%= link_to 'Back', root_path %></div>

 <table class="text table table-hover tweet_table">
    <tr>
      <th>@User Search Results</th>
    </tr>
  </table>
</div>