<!-- <h1>Profile Search Page</h1> -->

<div class= "profile_container">
	<div class = "profile_icon_container">
		<div id="profiletweets" class="profile_icon_div">
		<%= image_tag ("user_tweets.svg"), class: "profile_icon_img" %>
		<h4>User Tweets</h4>
		<p>See your tweets!</p>
		</div>

		<div id="profilehome" class="profile_icon_div">
		<%= image_tag ("homepage_tweets.svg"), class: "profile_icon_img" %>
		<h4>Homepage Tweets</h4>
		<p>See tweets on your homepage</p>
		</div>

		<div id="profilementions" class="profile_icon_div">
		<%= image_tag ("mentions.svg"), class: "profile_icon_img" %>
		<h4>Mentions</h4>
		<p>See tweets you've been mentioned in</p>
		</div>
	</div>
</div>

<div class="container">
	<table id="tweet_table" class="text table table-hover">
		<tr>
			<th>Tweets</th>
		</tr>
		 
	</table>

	<script type="text/javascript">
	$( document ).ready(function() {
		$( "#profiletweets" ).click(function() {
			$.get('profilesearches/profiletweets.json', function(profiletweets){
				$('#tweet_table').empty();
				console.log(profiletweets);
				profiletweets.forEach(function(tweet){
					// console.log(tweet.text);
					$('#tweet_table').append("<tr><td><a href='http://www.twitter.com/" + tweet.user.screen_name + "'>" + tweet.text + "</a></td></tr>")
				});
			});
		});
	


		$( "#profilehome" ).click(function() {
			console.log('click');
			$.get('profilesearches/profilehome.json', function(profilehome){
				$('#tweet_table').empty();
				profilehome.forEach(function(tweet){
					// console.log(tweet.text);
					$('#tweet_table').append("<tr><td><a href='http://www.twitter.com/" + tweet.user.screen_name + "'>" + tweet.text + "</a></td></tr>")
				});
			});
		});


		$( "#profilementions" ).click(function() {

			$.get('profilesearches/profilementions.json', function(profilementions){
				$('#tweet_table').empty();
				console.log(profilementions);
				profilementions.forEach(function(tweet){
					// console.log(tweet.text);
					$('#tweet_table').append("<tr><td><a href='http://www.twitter.com/" + tweet.user.screen_name + "'>" + tweet.text + "</a></td></tr>")
				});
			});
		});
	});
	</script>
</div>
