<!-- <h1>Profile Search Page</h1> -->

<div class= "profile_container">
	<div class = "profile_icon_container">
		<div id="profiletweets" class="profile_icon_div">
		<%= image_tag ("user_tweets.svg"), class: "profile_icon_img" %>
		<h4>User Tweets</h4>
		<p>See your tweets!</p>
		</div>

		<div id="profilehome" class="profile_icon_div">
		<%= image_tag ("homepage_tweets.svg"), class: "profile_icon_img" %>
		<h4>Homepage Tweets</h4>
		<p>See tweets on your homepage</p>
		</div>

		<div id="profilementions" class="profile_icon_div">
		<%= image_tag ("mentions.svg"), class: "profile_icon_img" %>
		<h4>Mentions</h4>
		<p>See tweets you've been mentioned in</p>
		</div>
	</div>
</div>
<div id="container" class="container" style="display: none;">
    <header>
    <h2>The most frequently used words for: <span id="book-title"></span></h2>
    </header>
    <div id="main" role="main">
      <div id="vis"></div>
      <div id="status"></div>
      <div id="controls">
        <h3>Adjust The Bounce!</h3>
        <form id="jitter3" oninput="output.value = (jitter_input.value / 200).toFixed(3)" >
          <input id="jitter_input" type="range" min="0" max="400" value="100" style="width:240px;">
          <output name="output" for="input">0.5</output>
        </form>
      </div>
    </div>
    <div class="scrolldown">Scroll Down To See The Tweets!</div>
  </div> <!--! end of #container -->
<div class="container">
    <div class="graph"></div>
	<table class="text table table-hover tweet_table">
		<tr>
			<th>Tweets</th>
		</tr>
		 
	</table>
</div>