<section id="tweets">
  <ol>
    <% if current_user %>
    <% @tweets.each do |tweet| %>
      <li><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}" %></li>
    <% end %>
    <% end %>
  </ol>
</section>