<div class="search_container">
  		<form class="form-inline" id="u_search">
      
			<div class="form-group">
			    <input type="text_field", placeholder="@twitter handle", class="form-control", id="usersearch">
			</div>
			    <button class="btn btn-default", id="u_search">Search</button>
		</form>
</div>

<hr/>
<div class="container">
<div class="text"><%= link_to 'Back', root_path %></div>

 <table class="text table table-hover tweet_table">
  	<tr>
  		<th>@User Search Results</th>
  	</tr>
  </table>
</div>
<style type="text/css">
        .bar rect
        {
/*
            fill: black;
            stroke: black;
*/
        }
        .label
        {
            font-family: Verdana;
            font-size: 15pt;
            color: gray;
            fill-opacity: .6;
        }
        .value
        {
            font-family: Verdana;
            font-size: 11pt;
            color: gray;
            fill-opacity: .6;
        }

        .tick_label
        {
            font-size: 15pt;
            font-family: Verdana;
            color: gray;
            fill-opacity: .6;
        }
    </style>

