<div class="search_container">
  		<div class="form-inline">
      
			<div class="form-group">
			    <input type="text_field", placeholder="@twitter handle", class="form-control", id="usersearch">
			</div>
			    <button class="btn btn-default", id="search">Search</button>
		</div>
</div>

<hr/>
<div class="container">
<div class="text"><%= link_to 'Back', root_path %></div>

 <table class="text table table-hover tweet_table">
  	<tr>
  		<th>@User Search Results</th>
  	</tr>
  </table>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    $( "#search" ).click(function() {
      $.get('searches/search.json?usersearch=' + usersearch.value, function(profiletweets){
        $('.tweet_table').empty();
        console.log(profiletweets);
        profiletweets.forEach(function(tweet){
          console.log(tweet.text);
          $('.tweet_table').append("<tr class='"+ tweet.sentimental.class + "'><td><a href='http://www.twitter.com/" + tweet.user.screen_name + "'>" + tweet.text + "</a></td></tr>")
        });
      });
    });
  });
</script>

