<div class="search_container">
  		<form class="form-inline" id="u_search">
      
			<div class="form-group">
			    <input type="text_field", placeholder="@twitter handle", class="form-control", id="usersearch">
			</div>
			    <button class="btn btn-default", id="u_search">Search</button>
		</form>
</div>
<div id="container" class="container" style="display: none;">
    <header>
    <h2>The most frequently used words for: <span id="book-title"></span></h2>
    </header>
    <div id="main" role="main">
      <div id="vis"></div>
      <div id="status"></div>
      <div id="controls">
        <h3>Adjust The Bounce!</h3>
        <form id="jitter2" oninput="output.value = (jitter_input.value / 200).toFixed(3)" >
          <input id="jitter_input" type="range" min="0" max="400" value="100" style="width:240px;">
          <output name="output" for="input">0.5</output>
        </form>
      </div>
    </div>
    <div class="scrolldown">Scroll Down To See The Tweets!</div>
  </div> <!--! end of #container -->
<div class="container">
    <table class="text table table-hover tweet_table">
  	<tr>
  		<th>@User Search Results</th>
  	</tr>
  </table>
</div>
